<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">

    <context:component-scan base-package="com.cw.jmockit" />

    <context:annotation-config />

    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="10.199.197.224:2181"
                   namespace="my-job" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />

    <!-- 配置作业-->
    <job:simple id="myJob1" class="com.cw.job.MyElasticJob"
                registry-center-ref="regCenter" cron="*/15 * * * * ?" sharding-total-count="2" sharding-item-parameters="0=10,1=20" />


    <!--<job:simple id="myJob2" class="com.cw.job.MyElasticJob"
                registry-center-ref="regCenter" cron="0 0 */10 * * ?" sharding-total-count="1" sharding-item-parameters="0=0" job-parameter="10000"/>-->
</beans>